<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>An Author Page</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/ba_style.css' %}">
</head>
<body>
    <div class="mainwrapper">
        <h1>Author: {{ this_author.first_name }} {{ this_author.last_name }}</h1>
        <h3>ID:  {{ this_author.id }}</h3>
        <h3>Notes:</h3>
        <p id="desc">{{ this_author.notes }}</p>
        <h3>Authors:</h3>
        <ul>
            {% for book in this_author.books.all %}
            <li>"{{ book.title }}"</li>
            {% endfor %}
        </ul>
        <form action="/authors/{{ this_author.id }}/add_book_to_author/" method="POST">
            {% csrf_token %}
            <select name="add_this_book" id="add_this_book">
                {% for book in all_books %}
                    {% if book not in this_author.books.all %}
                    <option value={{book.id}}>"{{ book.title }}"</option>
                    {% endif %}
                {% endfor %}
            </select>
            <input id="addButton" type="submit" value="Add">
        </form>
    </div>
</body>
</html>