<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Books and Authors Project</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/ba_style.css' %}">

</head>
<body>
    <div class="mainwrapper">
        <h1>Welcome to the Books and Users CodingDojo Project</h1>
        <h2>To begin, please choose to add a book or add an author:</h2>
        <a class="indexLink" href="/books">Add a Book</a>
        <a class="indexLink" href="/authors">Add an Author</a>
    </div>
</body>
</html>